/* #region base */
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
        }

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0; 
}

.link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    display: block;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
     padding-left: 16px;
    padding-right: 16px;
}

@media only screen and (min-width: 768px) {
.container {
    width: 768px;
}
   }

    @media only screen and (min-width: 1158px) {
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
      }
    }
 
h1 {
    color: #ffffff;
    font-weight: Bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    
}

h2 {
    font-weight: Bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.contacts .link {
    color: #434455
}

.nav-list .link {
    display: block;
    padding: 24px 0;
    position: relative;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}
/* #endregion base */

/* #region header */

header .container {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
padding: 16px 0;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 18px;
color: #4D5AE5;
text-decoration: none;  
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .header-logo
   {
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}

.header-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

 .address-list {
     display: none;
 }

@media only screen and (min-width: 768px) {
  .address-list {
    display: block;
    gap: 40px;
  }
}

@media only screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        padding: 24px 0;
    }
}

.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;

}

.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}


  .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
  } 

  .nav-list {
    
      display: none;
  }

@media only screen and (min-width: 768px) {
  .nav-list {
      display: flex;
      gap: 40px;
  }
  }
  .address-list .link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
  }

@media only screen and (min-width: 1158px) {
  .address-list .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
} 

  .address-list .link:hover,
  .address-list .link:focus {
    color: #404BBF;
  }

/* #endregion header */

/* #region mobile menu */
.menu-container {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 72px 16px 40px;
    transform: translateX(100%);
    transition: 300ms ease-in-out;
    transition-property: transform;
}

.menu-container.is-open {
    transform: translateX(0%);
}

.menu-btn-close {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
            cursor: pointer;
            background-color: #e7e9fc;
            border-radius: 50%;
            border-width: 1px;
            border-color: rgba(0, 0, 0, 0.1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            width: 24px;
            height: 24px;
            position: absolute;
            right: 24px;
            top: 24px;
        
        }
        
        .menu-btn-close:hover,
        .menu-btn-close:focus {
            background-color: #404bbf;
            border: none;
            fill: #fff;
        }

.menu-list {
margin-bottom: auto;
}

.menu-list-item:not(:last-child) {
    margin-bottom: 40px;

}


.menu-list-item .active {
color: #404bbf;
}

.menu-list-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.menu-address-list {
    margin-bottom: 48px;
}

.menu-address-item:not(:last-child) {
    margin-bottom: 24px;
}
.menu-address-item .link{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.link .blue{
    color: #4d5ae5;
}
.mobile-socials {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}

.social-link-item {}

.social-circle-footer {}

.social-links {}

/* #endregion mobile menu */
/* #region hero */
.hero {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_mob@1x_result.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 320px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_mob@2x_result.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_tab@1x_result.jpg);
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_tab@2x_result.jpg);
    }
}

@media only screen and (min-width: 1158px) {
  .hero {
     padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office_desk@1x_result.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office_desk@2x_result.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        max-width: 216px;
        margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
margin-bottom: 36px;
max-width: 496px;
}
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
    display: block;
    min-width: 169px;
    padding: 0;
    margin: 0 auto;
    font-family: inherit;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404BBF;
}
/* #endregion hero */

/* #region features */
.features {
padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .features {
    padding: 120px 0;
  }
}

.feature-icons {
display: none;
align-items: center;
justify-content: center;
border-radius: 4px;
border: 1px solid #8E8F99;
background-color: #F4F4FD;
width: 100%;
height: 112px;
margin-bottom: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: background-color;
}

@media only screen and (min-width: 1158px) {
  .feature-icons {
    display: flex;
  }
}

.feature-icons:hover,
.feature-icons:focus,
.feature-icons:active {
    background-color: #404bbf;
    stroke:#FFF;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list-item {
    /* outline: solid #12d436; */
    width: 100%;
}

/* .features-list-item:not(:last-child) {
    margin-bottom: 72px;
} */

@media only screen and (min-width: 768px) {
.features-list-item {
width: calc((100% - (24px * 1)) / 2);     
  }
}

@media only screen and (min-width: 1158px) {
    .features-list-item {
        width: calc((100% - (24px * 3)) / 4);
        margin-bottom: 0;
    }
}

.features-list {
display: flex;
flex-wrap: wrap;
flex-direction: row;
row-gap: 72px;
column-gap: 24px;
}

@media only screen and (min-width: 1158px) {
  .features-list {
gap: 24px;
  }
}

.features-subtitle {
margin-bottom: 8px;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

@media only screen and (min-width: 768px) {
  .features-subtitle {
    text-align:left;
  }
}

@media only screen and (min-width: 1158px) {
    .features-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.feature-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media only screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
    
  }
}

/* #endregion features */

/* #region team */

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-title {
text-align: center;
 margin-bottom: 72px;

}

.team-subtile{
text-align: center;
margin-bottom: 8px;
}

.team-list {
    display:flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
    .team-list {
    }
}

.social-links-list {
   display: flex; 
   justify-content: center;
   gap: 24px;
}


.social-link-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;

}

.social-circle {
        display: flex;
        gap: 16px;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    
    }

.social-circle:hover,
.social-circle:focus,
.feature-icons:active {
background-color: #404bbf;
}

.social-links {
    fill: #F4F4FD;
}

.team-text { 
 text-align: center; 
 margin-bottom: 8px;
 }
.team-list-item {
    width:264px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    /* outline: solid #12d436; */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

@media only screen and (min-width: 1158px) {
    .team-list-item {
      width: calc((100% - (24px * 3)) / 4);
    
  }
}

.team-list-item img {
    margin: 0 auto;
    width: 100%;
}

.team-block {
padding-bottom:32px;
padding-top: 32px;

}
/* #endregion team */

/* #region portfolio */
.portfolio {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }
}

.portfolio-section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
column-gap: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    row-gap: 72px;
  }
}

.portfolio-list-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

@media only screen and (min-width: 768px) {
    .portfolio-list-item {
        width: calc((100% - 24px ) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-example {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}


.portfolio-section-subtitle {
    margin-bottom: 8px;
}

.portfolio-img-wraper {
    position: relative;
    overflow: hidden;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    color:#F4F4FD;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .portfolio-img-wraper:hover {
transform: translateY(0%);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

/* #endregion portfolio */
/* #region footer */
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #4D5AE5;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}


.footer-studio {
    color: #f4f4fd;
    text-align: center;
}

.footer-content {
    display: flex;
    padding: 96px 0;
    background-color: #2E2F42;
        align-items: baseline;
}

@media only screen and (min-width: 1158px) {
  .footer-content {
    padding: 100px 0;
  }
}

.footer-content .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
   row-gap: 72px;

}

@media only screen and (min-width: 768px) and  (max-width: 1157px) {
  .footer-content .container {
   padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
    .footer-content .container{
        gap: 0;
    }
}

.logotext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .logotext {
        margin-right: 24px;
        align-items:self-start;
    }
}

@media only screen and (min-width: 1158px) {
    .logotext {
 margin-right: 120px;
  }
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
}

.socials-text {
color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}


.social-circle-footer {
    display: flex;
    gap: 16px;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.social-circle-footer:hover,
.social-circle-footer:focus,
.social-circle-footer:active {
    background-color: #31d0aa;
}

@media only screen and (max-width: 767px) {
  .footer-socials {
     margin: 0 auto;
    
  }
}

.socials-text {
    text-align: center;
}

@media only screen and (min-width: 768px) {
  .socials-text {
    text-align: start;
  }
}

@media only screen and (min-width: 768px) {
    .footer-socials {
        margin-right: auto;
    }
}

@media only screen and (min-width: 1158px) {
  .footer-socials {
      margin-right: 80px;
  }
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

@media only screen and (max-width: 767px) {
  .subscribe {
    display: flex;
        margin: 0 auto;
        flex-direction: column;
  }
} 

@media only screen and (min-width: 768px) {
  .subscribeform {
      display: flex;
      gap: 24px;
      justify-content: center;
      align-items: center; 
  }
}

.subscribebtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.subscribebtn:hover,
.subscribebtn:focus {
    background-color: #404bbf;
}

.subscribelabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.subscribefield {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .subscribefield {
    margin-bottom: 16px;
  }
}

.subscribefield::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribetext {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .subscribetext {
        text-align: start;
    }
}

.plane {
    fill: #fff;
}
/* #endregion footer */

/* #region modal window */

.modal-overlay {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
visibility: hidden;
pointer-events: none;
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: opacity, visibility;
}

.modal-overlay.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;

}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 408px;
    min-height: 623px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-btn-close {
display: flex;
justify-content: center;
align-items: center;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
background-color: #e7e9fc;
border-radius: 50%;
border-width: 1px;
border-color: rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 24px;
height: 24px;
position: absolute;
right: 24px;
top: 24px;

}

.modal-btn-close:hover,
.modal-btn-close:focus {
background-color: #404bbf;
border: none;
fill: #fff;
}

.modal-icon-close {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
color:#2E2F42;
text-align: center;
font-style: normal;
font-weight: 500;
letter-spacing: 0.32px;
margin-bottom: 16px;
}

input {
    display: block;
}

.input-wrapper {
    margin-bottom: 8px;

}

.input-label {
    display: block;
    margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.input-space {
   position: relative;
margin-bottom: 8px;


}

.input-field {
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: border-color;
}

.input-field:focus {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}

.input-field:focus + .input-icon {
    fill: #4d5ae5;
}

.input-field {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    padding: 11px 11px 11px 38px;
    color: #2e2f42;
    
}

.input-icon {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: fill;
}

.comment-wrapper {
margin-bottom: 16px;
}
.commenttext {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    width: 100%;
    min-height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}
    
    .commenttext:focus {
    border-color: #4D5AE5;
    }

.commenttext::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.privacy-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 16px;
    width: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: background-color, border, fill;
    fill: transparent;
}

.checkbox:checked +.checkboxuser .privacy-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;

}

.checkboxuser {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 24px;
}


.policy-link {
    line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.user-privacy {
    display:flex;
    align-items:baseline;
}
.checkboxtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
}
.formbtn {
    display: block;
    font-weight: 500;
    margin: 0 auto;
    cursor: pointer;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        padding: 16px 32px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #4d5ae5;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        justify-content: center;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
}



.checkboxsubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

}


/* #endregion modal window */

/* #region mobile menu btn*/
/* .menu-container {
    min-width:320px
} */

.menu-btn {
    border: none;
    background-color: transparent;
    align-self: center;
    padding: 0;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-icon {
    display: block;
}
/* #endregion mobile menu btn*/