/* #region base */
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0; 
}

.link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
            display:block;
            width: 1158px;
            /* outline: solid #4000ff; */
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
}

h1 {
    color: #ffffff;
    font-weight: Bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    
}

h2 {
    font-weight: Bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.contacts .link {
    color: #434455
}

.nav-list .link {
    padding: 24px 0;
    position: relative;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}
/* #endregion base */

/* #region header */
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo{
margin-right: 76px;
font-family: "Raleway", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
font-size: 18px;
color: #4D5AE5;
text-decoration: none;  
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

}
header .container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.address-list {
    display: flex;
    gap: 40px;
}

.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;

}

.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.header-studio {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.navigation {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}

.address-list .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion header */

/* #region hero */
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;

}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        max-width: 496px;
        margin-bottom: 45px;

}
.hero-button {
    display: block;
    min-width: 169px;
    padding: 0;
    margin: 0 auto;
    font-family: inherit;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    /* display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: row; */
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404BBF;
}
/* #endregion hero */

/* #region features */
.features {
padding: 120px 0;
}
.feature-icons {
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
border: 1px solid #8E8F99;
background-color: #F4F4FD;
width: 100%;
height: 112px;
margin-bottom: 8px;
background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-icons:hover,
.feature-icons:focus,
.feature-icons:active {
    background-color: #404bbf;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list-item {
    /* outline: solid #12d436; */
    width: calc((100% - (24px * 3)) / 4);
}

.features-list {
display: flex;
gap: 24px;
}

.features-subtitle {
margin-bottom: 8px;

}

.feature-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion features */

/* #region team */

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
text-align: center;
 margin-bottom: 72px;

}

.team-subtile{
text-align: center;
margin-bottom: 8px;
}

.team-list {
    display:flex;
    gap: 24px;
}

.social-links-list {
   display: flex; 
   justify-content: center;
   gap: 24px;
}


.social-link-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;

}

.social-circle {
        display: flex;
        gap: 16px;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    
    }

.social-circle:hover,
.social-circle:focus,
.feature-icons:active {
background-color: #404bbf;
}

.social-links {
    fill: #F4F4FD;
}

.team-text { 
 text-align: center; 
 margin-bottom: 8px;
 }
.team-list-item {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    /* outline: solid #12d436; */
    width: calc((100% - (24px * 3)) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-block {
padding-bottom:32px;
padding-top: 32px;

}
/* #endregion team */

/* #region portfolio */
.portfolio {
    padding: 120px 0;
}
.portfolio-section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
column-gap: 24px;
}
.portfolio-list-item {
width: calc((100% - (24 * 2)) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

transition-property: box-shadow;
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-example {}

.portfolio-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}


.portfolio-section-subtitle {
    margin-bottom: 8px;
}

.portfolio-text {
    margin-bottom: 32px;
}

.portfolio-img-wraper {
    position: relative;
    overflow: hidden;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    color:#F4F4FD;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* outline: solid #12d436; */
}

.portfolio-img-wraper:hover {
transform: translateY(0%);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* #endregion portfolio */

/* #region footer */
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #4D5AE5;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    
}

.footer-studio {
    color: #f4f4fd;
}

.footer-content {
    display: flex;
    padding: 100px 0;
    background-color: #2E2F42;
    /* align-content: center;
        justify-content: center;
        align-items: baseline; */
    

}

.footer-content .container {
    display: flex;
    /* flex-direction: column; */
    gap: 120px;
    align-items: baseline;
}

.logotext{
    margin-right: 120px
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
}

.socials-text {
color: #FFF;
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.social-circle-footer {
    display: flex;
    gap: 16px;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;

}

.social-circle-footer:hover,
.social-circle-footer:focus,
.social-circle-footer:active {
    background-color: #31d0aa;
}

.footer-social-list {
    display: flex;
    gap: 16px;

    /* justify-content: space-around; */
    /* padding-bottom: 32px; */
}
/* #endregion footer */